@import 'mixins';

.button--large {
  width: 250px;
}

.button {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: lighten(black, 8%);
  }
}

.button--squared {
  border-radius: 0px;
}


.button--transparent {
  text-align: center;
  text-decoration: none;
  border: solid 2px black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .0);
  color: black;
  transition: .5s;
  padding: 1%;
  display: inline-flex;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: #F5D8BE;
  }
}

.button--success {
  background-color: #5aac44;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: lighten(#5aac44, 7%);
  }
}

.button--gray {
  background-color: rgba(9, 30, 66, .04);
  color: black;

  &:hover {
    background-color: lighten(rgba(9, 30, 66, .04), 12%);
  }
}

.button--disabled {
  background-color: rgb(245, 245, 245);
  color: rgb(139, 138, 138);
  pointer-events: none;
  cursor: none;
}

.button-reset {
  @include button-reset();
}