@import 'mixins';
.button--large {
  width: 250px;
}

.button {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: lighten(black, 8%);
  }
}

.button--squared {
  border-radius: 0px;
}


.button--transparent {
    background-color: rgba(0,0,0,.6);
    color: #fff;
    &:hover {
      background-color: lighten(black, 12%);
    }
}

.button--success {
    background-color: #5aac44;
    color: #fff;
    &:hover {
        color: #fff;
        background-color: lighten(#5aac44, 7%);
    }
}

.button--gray {
  background-color: rgba(9,30,66,.04);
  color: black;
  &:hover {
    background-color: lighten(rgba(9,30,66,.04), 12%);
  }
}
.button--disabled {
    background-color: rgb(245, 245, 245);
    color: rgb(139, 138, 138);
    pointer-events: none;
    cursor: none;
}

.button-reset {
  @include button-reset();
}