.email-list {
   &__container {
      display: block;
      margin: 15px auto;
      background-color: $cream;
      padding: 7px;
      width: 60%;
   }

   &__form {
      padding: 0;
      text-align: center;
   }

   &__header {
      margin: 5px 0 0 0;
   }

   &__subheader {
      margin: 8px 0;
   }

   &__input {
      padding: 5px;
   }

   &__button {
      background-color: $brown;
      color: $white;
      border: solid $brown;
   }
}