.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.events__item {
  flex-basis: 37%;
  margin: 5px 8px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform $default-timing;
  @include large("down") {
    flex-basis: 48%;
    margin: 7px 4px;
  }
  @include small("down") {
    flex-basis: 98%;
  }
  &:hover {
    transform: scale(1.03);
    .event__text {
      height: 60%;
      @include small("down") {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}
.events__item__content {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.event__text {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  overflow: hidden;
  transition: height $default-timing;
}
.event__dates {
    font-size: 20px;
    color: rgb(204, 204, 204);
}