.products-list__items {
  @include flexbox();
  @include justify-content(center);
  flex-wrap: wrap;
  @include large("up") {
    @include justify-content(space-between);
  }
}
.products-list__item {
  animation-name: test;
  animation-duration: 0.5s;
  margin: 5px;
  flex-basis: 100%;
  @include medium("up") {
    flex-basis: 45%;
  }
  @include large("up") {
    flex-basis: 23%;
  }
}

@keyframes test {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
